.react-flow__node-edit {
    border-radius: 3px;
    width: 150px;
    font-size: 12px;
    color: #222;
    text-align: center;
    border-width: 1px;
    border-style: solid;
    border-color: #1a192b;
    background-color: white;
}

.react-flow__node-input {
    border-color: #016936;

    &.selectable {
        &.selected,
        &:focus,
        &:focus-visible {
            box-shadow: 0 0 0 0.5px #016936;
        }
    }
}
.react-flow__node-output {
    border-color: #B03060;

    &.selectable {
        &.selected,
        &:focus,
        &:focus-visible {
            box-shadow: 0 0 0 0.5px #B03060;
        }
    }
}
